body{
    background-color: lightgray;
    margin: 0;
    padding: 0;
    background:#ccc;
    font-family: sans-serif;
}


.navbar ul{
    position: sticky;
    list-style:none;
    background-color:#0f1f99;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li{
    transform: translateY(-20px);
    display: inline-block;
}
.navbar a{
    text-decoration: dashed;
    color: white;
    width: 100px;
    display: block;
    padding: 15px 20px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;

}


.navbar a:hover{
    background-color:#165278;
}

.contacts ul{
    background-color: slategrey;
}