
body{
    background-color: #2f294d;
}



hr{
    border: 1px solid #000000;
    border-radius: 1px;      
}

.videobox{
    text-align: center;
    background-color: #4153b5;
}

.videobox b{
    font-family:sans-serif
    
}

.videobox2{
    text-align: center;
    background-color: gray;
}